@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

html {
    height: 100%;
    display: flex;
}

body, #root {
    display: flex;
    flex: 1;
}

body {
    justify-content: center;
    margin-left: 16px;
    margin-right: 16px;
}

#root {
    max-width: 800px;
}